.form-wrapper {
  display: flex;
  background-color: var(--White);
  border-radius: var(--lg-radius);
  padding: 1.5rem;
  width: 90%;
  max-width: 25rem;
  margin-inline: auto;
  margin-top: -5.5rem;
  box-shadow: 0 0 12px 4px rgba(99, 99, 99, 0.2);
}

.form-actions {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  background-color: var(--White);
}

.form-actions-next-step {
  margin-left: auto;
}

.form-actions-prev-step {
  background-color: transparent;
  color: var(--Cool-gray);
  font-weight: 500;
}

@media only screen and (min-width: 40em) {
  .form-wrapper {
    box-shadow: none;
  }
}
