.personal-info h1 {
  color: var(--Marine-blue);
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.personal-info > p {
  color: var(--Cool-gray);
  font-size: 0.95rem;
  margin-bottom: 1rem;
}

.personal-info-fieldset {
  all: unset;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--Marine-blue);
  font-size: 0.85rem;
  font-weight: 500;
}

.personal-info-fieldset input {
  color: var(--Marine-blue);
  padding: 0.5rem 1rem;
  width: 100%;
  border: 1px solid var(--Light-gray);
  border-radius: var(--md-radius);
  margin-top: 0.25rem;
  cursor: pointer;
  outline: none;
}

.personal-info-fieldset input:hover,
.personal-info-fieldset input:focus {
  border-color: var(--Purplish-blue);
}

.label-container {
  display: flex;
  justify-content: space-between;
}

.label-container span {
  color: var(--Strawberry-red);
}

.personal-info-fieldset .input-error {
  border-color: var(--Strawberry-red);
}

@media screen and (min-width: 50em) {
  .personal-info-fieldset {
    margin-top: 2rem;
  }

  .personal-info h1 {
    font-size: var(--fs-700);
    margin-bottom: 0.25rem;
  }
}
