.sidebar {
  background-image: url("../../assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25%;
  min-height: 10rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.sidebar-step-circle {
  margin-top: 2rem;
}

.sidebar-step-circle span {
  display: grid;
  place-items: center;
  color: var(--White);
  border: 1px solid var(--White);
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 9999vw;
  font-weight: bold;
  font-size: 0.8rem;
}

.sidebar-step-circle span[data-active="true"] {
  color: var(--Marine-blue);
  background-color: var(--Light-blue);
  border: none;
}

.sidebar-step-info {
  display: none;
  text-transform: uppercase;
}

.sidebar-step-info p {
  color: var(--White);
  font-weight: 500;
  font-size: 0.9rem;
}

.sidebar-step-info span {
  color: var(--Cool-gray);
  font-size: 0.8rem;
}

@media only screen and (min-width: 40em) {
  .sidebar-step-info {
    display: initial;
  }

  .sidebar {
    background-image: url("../../assets/images/bg-sidebar-desktop.svg");
  }
}
