:root {
  /* Primary colours */
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  /* Neutral colours */
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);

  --bg-clr: hsl(217, 100%, 97%);

  /* Font */
  --ff-primary: "Ubuntu", sans-serif;

  /* Font sizes */
  --fs-300: 0.85rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;

  /* Border Radius */
  --sm-radius: 4px;
  --md-radius: 8px;
  --lg-radius: 12px;
}

body {
  font-size: var(--fs-400);
  font-family: var(--ff-primary);
  background-color: var(--bg-clr);
}

main {
  height: 100vh;
}

/* Default button styling */
button {
  color: var(--White);
  background-color: var(--Marine-blue);
  border-radius: var(--sm-radius);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5em 0.75em;
}

button:hover {
  filter: brightness(150%);
}
